@model List<Realestate_portal.Models.marketing_orders>
@{
    ViewBag.Title = "PurchaseHistory";
 
}
<style>
    .label-color {
        font-weight: bold;
        color: #236386;
    }

    hr {
        width: 80%;
    }

    a div .card {
        text-align: center;
        width: 255px;
        height: 350px;
    }

    h4, h6 {
        font-weight: bold;
        color: black;
    }

    .flex-container {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;
        justify-items: center;
        padding: 10px;
        align-content: space-between;
    }
</style>
<div class="top-bar -mx-4 px-4 md:mx-0 md:px-0">
    <!-- BEGIN: Breadcrumb -->
    <div class="-intro-x breadcrumb mr-auto hidden sm:flex">
        <a href="@Url.Action("Index","Market")">Market</a> <i data-feather="chevron-right" class="breadcrumb__icon"></i>
        <a href="#" class="breadcrumb--active">Purchase History</a>
    </div>
    <!-- END: Breadcrumb -->

</div><br />
<br />
<div class="grid grid-cols-12">
    <div class="col-span-12">
        <h2>Purchase History</h2>
     
        <hr />
        <br />
        <div class="flex-container">
            @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <a style="margin:20px" href="@Url.Action("OrderDetails", "Market", new { OrderID = item.payment_intent_id, nw = false })">
                    <div class="card shadow-lg">
                        <img src="~/Content/images/marketing/order-image.jpg" height="250" width="300" alt="Alternate Text" />
                        <div class="text-center">
                            <h4>Order number : #@item.id</h4>
                            <br />
                            <h6>Category : Independent Realtor</h6>
                            <br />
                            <h6>Items :  @item.items </h6>
                        </div>
                        <br />
                        <div style="position:relative; bottom:0;">
                            <h6 class="float-left ml-2">Date :  @item.creation_date.ToShortDateString() </h6>
                            <h6 class="float-right mr-2">Total :  $@item.ttl_price </h6>
                        </div>
                    </div>
                </a>
        }



    }
    else
    {
        <div class="flex-column" style="display:flex; align-content:center; align-items:center; ">

            <h1>No order created yet, go shopping!</h1>
        </div>
}
        </div>
    </div>

</div>

<br />




